{% extends "museum/base.html" %}

{% block 'body' %}
    <h1>Exhibit: <a href="{% url 'exhibit' object.0.exhibit.pk %}">{{ object.0.exhibit.name }}</a></h1>
    <img src="{{ object.0.image.url }}" style="max-height: 25%; max-width: 25%">
    <h1>Object: {{ object.0.name }}</h1>
    <p>{{ object.0.description|linebreaks }}</p>

    <div class="pagination">
        <span class="step-links">
            {% if object.has_previous %}
                <a href="{% url 'object' object.0.exhibit.pk 1 %}">&laquo; first</a>
                <a href="{% url 'object' object.0.exhibit.pk object.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                Object {{ object.number }} of {{ object.paginator.num_pages }}.
            </span>

            {% if object.has_next %}
                <a href="{% url 'object' object.0.exhibit.pk object.next_page_number %}">next</a>
                <a href="{% url 'object' object.0.exhibit.pk object.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
