{% extends "museum/base.html" %}

{% block 'body' %}
    <h1>Exhibit: <a href="{% url 'exhibit' object.exhibit.pk %}">{{ object.exhibit.name }}</a></h1>
    <img src="{{ object.image.url }}" style="max-height: 25%; max-width: 25%">
    <h1>Object: {{ object.name }}</h1>
    <p>{{ object.description }}</p>
    {% if not prevObj == None %}
        <a href="{% url 'object' prevObj.pk %}">Prev</a>
    {% endif %}
    
    {% if not nextObj == None %}
        <a href="{% url 'object' nextObj.pk %}">Next</a>
    {% endif %}
{% endblock %}
